body {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: #e6e6e6;
  color: #181616;
  overflow: hidden;
}


#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#palette {
  display: flex;
  flex-direction: row;
  height: 15vh;
  margin-top: 2vh;
  border-radius: 10px;
}

.tile {
  transition: background-color 0.5s ease;
  text-align: bottom;
  font-size: 1.2rem;
  flex: 1;
  padding: 30px;
}

#titolo {
  font-size: 5vw;
  font-weight: 700;
}

#button {
  padding: 5%;
}

#generateBtn {
  margin: 2%;
  padding: 3%;
  color: #4e4e4e;
  background-color: #e6e6e6;
  font-size: 2vw;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-style: normal;
  border-radius: 10px;
  border: 1px solid #a7a7a7;
}

#generateBtn:active {
  box-shadow: 0 0 10px #fff;
}